In [1]:
import pandas as pd
import numpy as np
import os

In [8]:
# Define el directorio de trabajo a la ruta deseada
nueva_ruta = 'C:\\Users\\Usuario\\Desktop\\pc escrittorio\\Mel\\Cursos\\ciencia de datos_CODERHOUSE\\TP_DCI_v1'
os.chdir(nueva_ruta)

# Levanto el archivo 
df = pd.read_csv("dataset_olympics.csv",sep = ',')
df.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [10]:
df["Medal"].value_counts()

Medal
Gold      3292
Bronze    3208
Silver    3190
Name: count, dtype: int64

In [6]:
print('Cantidad de filas: ',df.shape[0]) # atributo shape elemento 0 es fila
print('Cantidad de columnas: ',df.shape[1]) # por defecto el 1 es columna

Cantidad de filas:  70000
Cantidad de columnas:  15

In [7]:
# Revisión de datos nulos
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      70000 non-null  int64
 1   Name    70000 non-null  object
 2   Sex     70000 non-null  object
 3   Age     67268 non-null  float64
 4   Height  53746 non-null  float64
 5   Weight  52899 non-null  float64
 6   Team    70000 non-null  object
 7   NOC     70000 non-null  object
 8   Games   70000 non-null  object
 9   Year    70000 non-null  int64
 10  Season  70000 non-null  object
 11  City    70000 non-null  object
 12  Sport   70000 non-null  object
 13  Event   70000 non-null  object
 14  Medal   9690 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 8.0+ MB
None

In [ ]:
# Renombramos las columnas
nombres_columnas = {0: "ID", 
                    1:"Nombre", 
                    2:"Sexo",
                    3:"Años",
                    4:"Altura",
                    5:"Peso",
                    6:"País",
                    7:"Id_pais",
                    8:"CLASS"}